.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px;
    border-right: 1px solid rgba(242, 242, 242, 0.3);
}


.container input,
.container button {
    height: 30px;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
}

.container p {
    text-transform: capitalize;
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #f2f2f2;
    position: relative;
    text-transform: capitalize;
}

.flexRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.companyContainer {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 5;
    padding: 5px;
    background-color: #121212;
    border: 1px solid #f2f2f2;
}

.options {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.colors {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.colorBar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #292929;
}

.singleColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.clearBtn {
    width: fit-content;
}

.closeBtn {
    display: none;
}

@media only screen and (max-width:768px) {
    .container {
        width: 100%;
        min-height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
    }

    .filterWithSearch {
        display: none;
    }

    .closeBtn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
    }
}